/* News feed stuff */
.uiTypeahead .uiTextareaAutogrow, #composerCityTagger, ._1dsr, ._9lb, #pagelet_composer .uiSelectorButton /* "Post" screen transitions */
{
    transition:
        0.2s
            !important;
}

#pagelet_composer .uiToggle .uiSelectorButton /* In the news feed, there's the "who can see" button, this blocks the transition used above, avoiding graphic glitches */
{
    transition:
        0s
            !important;
}

#composerCityTagger:hover, ._1dsr:hover /* "Post" screen buttons effect on hover */
{
    box-shadow:
        inset 0 0 1px #000;
    
    margin-top:
        -2px !important;
    
    height:
        45px
            !important;
}
/* Here ends the news feed stuff */


/* Right chatbar stuff */
.tickerStoryClickable ._54ru
{

    border-radius:
        100px;

    transition:
        0.3s;
}


.tickerStoryClickable:hover ._54ru
{
    border-radius:
        100px;
}

.tickerStoryClickable
{
    transition:
        0.2s;
}

.tickerStoryClickable:hover
{
    
    background:
        rgba(0, 0, 0, 0.04);
}

.uiScrollableAreaContent ._55ln, #sidebar_navigation_top ._4g5p, ._4gb_ /* This adds the extra spacing I need to add "borders" on each chat div */
{
    margin-top:
        1px;
    
    padding-top:
        2px
            !important;
    
    padding-bottom:
        2px
            !important;
    
    transition:
        0.2s;
}

._4vsz /* There's a background in the number counter, this applies transitions to it */
{
    transition:
        0.2s;
}

.uiScrollableAreaContent ._55ln:hover, #sidebar_navigation_top a:hover /* This, is the animation of the chat divs when hovered */
{
}
/* Here ends the right chatbar stuff */



/* Round profile pictures */
	/* Feed page round images */
	._5pb8 .img, .ego_unit ._s0
	{
		border-radius:
			100px;
		
		transition:
			0.3s;
	}

	._5v9u:after /* Removes a border around the profile picture in the news feed */
	{
		border:
			none
				!important;
	}

	._5pb8:hover .img, .ego_unit:hover ._s0 /* Effects on the profile pictures in the right action bar */
	{
		border-radius:
			100px
				!important;
	}

	.ego_unit /* Effects when hovering the right action bar */
	{
		border-radius:
			4px;

		width:
			260px
				!important;

		padding:
			5px
				!important;

		margin-left:
			-8px
				!important;
	}

	.ego_unit:hover
	{

		background: rgba(0, 0, 0, 0.1);
	}
	/* Feed round profile picture ends */

	/* Chatbar round profile pictures */

	._55lt .img, ._521h ._4-k7 .img
	{
		border-radius:
			100px;

		transition:
			0.3s;
	}

	._5pr2 ._56p9:after /* Removes the border around the profile picture on the chatbar */
	{
		border:
			none
			!important;
	}

	._55ln:hover ._55lt .img /* Chatbar profile picture effects */
	{
		border-radius:
			100px
				!important;
	}

	#pagelet_canvas_nav_content, #apps_gripper /* Removes adds on the already small chatbar. */
	{
		display:
			none
				!important;
	}

/* Left bar stuff, still testing */

	#pagelet_navigation /* The left bar has no background/borders. This adds them (looks better :D) */
	{
		background:
			#FFF;

		padding:
			5px;

		margin-top:
			15px;

		margin-left:
			-15px;

		border-radius:
			3px;

		box-shadow:
			0 0 0 1px rgba(0, 0, 0, 0.05);
	}

	#pagelet_welcome_box /* Your name/profile picture on the left "bar" has no background, this adds them */
	{
		background:
			#FFF;

		margin-left:
			-15px;

		padding:
			8px;

		border-radius:
			3px;

		box-shadow:
			0 0 0 1px rgba(0, 0, 0, 0.05);
	}


	.sideNavItem
	{
		margin-left:
			0px
				!important;
		
		transition:
			0.3s;
		
		border:
			1px solid rgba(0, 0, 0, 0);
	}

	.sideNavItem:hover /* Effects when hovering the elements on the left bar, applies to buttons on the left of the element */
	{
		background:
			rgba(0, 0, 0, 0.05);

		border-radius:
			3px;

		border:
			1px solid rgba(0, 0, 0, 0.2);

		transition:
			0.2s;
	}

	.sideNavItem .item:hover /* Effects when hovering the elements on the left bar, applies to the elements itself */
	{
		background:
			rgba(0, 0, 0, 0.025)
				!important;
	}



#pagelet_ego_pane, div.topBorder, div.bottomBorder, ._5ciw
{
 	visibility: hidden !important;
  	display: none !important;
}

.hasSmurfbar #blueBarHolder #blueBar
{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-image: none !important;
    border-bottom: 0px !important;
    background-color: #4172b0 !important;
}
.hasSmurfbar #blueBarHolder #blueBar:after 
{
    background-image: none !important;
}
._585-
{
  	-webkit-border-radius: 0px !important;
	-webkit-box-shadow: none !important;
}
#pageNav .tinyman .headerTinymanName
{
  	text-shadow: none !important;
}
._55bh:after
{
  	background: none !important;
}
#pageNav._5bfj .litestandNavItem:hover a, #pageNav._5bfj .litestandNavItem a:focus, #pageNav._5bfj #navHome:hover a, #pageNav._5bfj #navTimeline:hover a, #pageNav._5bfj #navFindFriends:hover a, #pageNav._5bfj #navPost:hover a, #pageNav._5bfj #navHome a:focus, #pageNav._5bfj #navTimeline a:focus, #pageNav._5bfj #navFindFriends a:focus, #pageNav._5bfj #navPost a:focus
{
  	background: none !important;
}
._4-u2, #pagelet_navigation, #pagelet_welcome_box, ._4lh .timelineReportContainer, ._4lh .fbTimelineCapsule .timelineUnitContainer, html ._6-d .fbTimelineSection, #fbProfileCover .coverBorder
{
  	border: none !important;
  	border-radius: 0px !important;
	box-shadow: none !important;
}
._5v9k .UFIAddComment .UFIImageBlockImage:after, ._5v9k .UFIComment .UFIImageBlockImage:after, .litestandClassicWelcomeBox .fbxWelcomeBoxBlock:after, ._5v3q ._4-eo::after
{
  	border: none !important;
}
._8o, ._8o .img
{
  	border-radius: 100px !important;
}
._rv, ._50c7
{
	border-radius: 100px !important;
}
._7lt ._7lw
{
	border-radius: 100px !important;
	border: 0px !important;
  	background-color: transparent !important;
}
._7lt ._7ls
{
	border-radius: 100px !important;
	border: 0px !important;
  	background-color: transparent !important;
}
._5v3q ._4-eo
{
	border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
._54ru
{
  	border-radius: 100px !important;
}
#fbTimelineHeadline .profilePicThumb
{
  	background: transparent !important;
}
#fbTimelineHeadline .profilePic
{
  	background: transparent !important;
  	border-radius: 100px !important;
	border: none !important;
}
._8_2, ._6-f .alternate_name
{
  	text-shadow: none !important;
}
._6-d #fbProfileCover .coverNoImage::after
{
  	border: 0px !important;
}
.fbTimelineCapsule .timelineUnitContainer
{
  	border: 0px !important;
}
._4lh .likeUnit .fbTimelineBoxCount, ._4lh .likeUnit .likeUnitImageContainer, ._4lh .fbTimelineSection .fbTimelineFriendsBoxLarge .fbTimelineBoxCount, ._4lh .fbTimelineSection .fbTimelineFriendsBoxLarge .friendPhoto, ._4lh .fbTimelineTwoColumn .photoUnit .photoWidth3 .photoWrap, ._4lh .fbTimelineTwoColumn .photoUnit .photoWidth3Edge .photoWrap
{
  	border-radius: 0px !important;
}
._5sem ._50c7, ._4lh ._50c7, ._rw, ._20h
{
  	border-radius: 100px !important;
}
._4lh ._519e:after, ._4lh ._51wa:after
{
  	background-image: none !important;
}
._5d3_::after, ._gx8::after
{
  	border: 0px !important;
}
._4lh ._519e:after, ._4lh ._51wa:after, ._4lh .timelineUnitContainer .UFIComment .UFIImageBlockImage:after, ._4lh .timelineUnitContainer .UFIReplyActorPhotoWrapper:after
{
  	background-image: none !important;
}
._50dw .profileLink .profilePhoto
{
  	border-radius: 100px !important;
}




